<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>blog details</title>
	{% load staticfiles %}
	<script src="{% static "jquery-1.12.0.min.js" %}" type="text/javascript"></script>
	<script src="{% static "comments.js"%}" type="text/javascript"></script>
	<link href="{% static "css/jquery.cssemoticons.css" %}"  media="screen" rel="stylesheet" type="text/css" />

	<link href= "{% static "css/mystyle.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.cssemoticons.js" %}" type="text/javascript"></script>
	<link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href= "{% static "css/clean-blog.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static "img/logo.png" %}"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://127.0.0.1:8000/user_action/">Wall</a>
                    </li>
                        {% if "user_id" in request.session %}
                    <li>
                        <a href="http://127.0.0.1:8000/user_action/profile/{{ request.session.user_id}}">Profile</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="http://127.0.0.1:8000/user_action/addBlog/">blog</a>
                    </li>
                    {{ user.username }}
                    {% if user.is_superuser == 1 or user.is_staff == 1 %}
                    <li>
                        <a href="http://127.0.0.1:8000/admin/">Admin Panel</a>
                    </li>

                    {% endif %}

                    <!-- {{request.session.user_id}} -->
                        {% if "user_id" in request.session %}
                    <li>
                        <a href="http://127.0.0.1:8000/articles/logout">log out</a>
                    </li>

                        {% else %}
                   <li>
                        <a href="http://127.0.0.1:8000/articles/login">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- {{ some_list|slice:":2" }} -->
{% if article %}
<header class="intro-header" style="background-image:url(' /media/static/img/{{artimage}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                        <h1>{{ article.art_title }}</h1>
                        <span class="meta">Posted by: <a href="#">&nbsp;&nbsp;<b><u>{{article.art_user_id}}</u></b></a> &nbsp;&nbsp;&nbsp;{{article.art_publish_date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


          <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-0">

               


       <article>
        <div class="container">
            <div class="row">

           
            <p style="margin: 0px 14px;font-size: 16px;" class="copyright text-muted">{{ article.art_number_views }} views</p>	
         
            <div class="list-group col-md-5 col-md-offset-10" style="margin-top: 38px;
				position: absolute;
				margin-left: 850px;">
			  <a href="#" class="list-group-item">related articles</a>
			  <!-- <a href="#" class="list-group-item">first article</a>
			  <a href="#" class="list-group-item">second article</a>
			  <a href="#" class="list-group-item">third article</a> -->
			  {% if related_articles %}
			    {% for related in related_articles %}
			       {% if related.id != article.id %}
			       		<a href="#" class="list-group-item">{{related.art_title}}</a>
			       {% endif %}
			    {% endfor %}
			  {% endif %}
			  
			  <!-- <a href="#" class="list-group-item">Third item</a> -->
			</div>
                <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-0">
                    <p>{{ article.art_content }}</p>
                </div>
            </div>
        </div>
    </article>
    {% else %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-0">
                    <p>No article are available.</p>
                </div>
            </div>
        </div>
    </article>
    {% endif %}


    {% if comments %}
	 {% for comment in comments %}
	   <p class="comments">
		 {% if comment.Comment_parent_id == -1 %}
			 {{ comment.Comment_content }}	<br/>

<!-- http://127.0.0.1:8006/user_action/like/?comment_id={{comment.id}}&user_id=1 -->
				{% if comment.Comment_user_like.all %}
					<a class="btn btn-primary" href="#">dislike</a>
					<span style="display:none;"> {{ comment.id }}</span>
					<span style="display:none;"> {{request.session.user_id}}</span>
				{% else %}
					<a class="btn btn-primary" href="#">like</a>
					<span style="display:none;"> {{ comment.id }}</span>
					<span style="display:none;"> {{request.session.user_id}}</span>
				{% endif %}
				<input type="button" class="btn btn-primary" value="reply"/>


			    {% for reply in comments %}
				  {% if reply.Comment_parent_id == comment.id %}
					<p class="col-lg-offset-1">{{ reply.Comment_content }}</p>
				  {% endif %}
			    {% endfor %} 
			  {% endif %}

			  </p> 
	    
	    

	    <form action="http://127.0.0.1:8000/user_action/{{ article.id }}/" method="post" accept-charset="utf-8" class="col-lg-offset-2">
	     <table class="table">
	     		<tr>
	     			<td><input type="text" style="display:none;" class="form-control" name="parentcomment" value="{{comment.id}}"/>
	     			</td>
	     		</tr>
	      
	     {% csrf_token %}
	     </table>
	    </form>
	 {% endfor %}
	{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>sss{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}



	<form action="http://127.0.0.1:8000/user_action/{{ article.id }}/" method="post" accept-charset="utf-8"> 
		<table class="table">
		{% csrf_token %}
				<tr>
					<td><textarea name="comment" class="form-control"></textarea></td>
				</tr>
				<tr>
					<td><input type="submit" value="submit" class="btn btn-primary"/></td>
				</tr>
		</table>
			
	</form>
 <hr>



<!-- {% if article %}
<h1>{{ article.art_title }}</h1>

{% else %}
    <p>No article are available.</p>
{% endif %}

{% if comments %}
 {% for comment in comments %}
<p class="comments">
	{% if comment.Comment_parent_id == -1 %}
		{{ comment.Comment_content }}		
			<a href="http://127.0.0.1:8006/user_action/like/?comment_id={{comment.id}}&user_id=1">like</a>
			<input type="button" value="reply">
		{% for reply in comments %}
			{% if reply.Comment_parent_id == comment.id %}
				<p class="reply">{{ reply.Comment_content }}</p>
			{% endif %}
		{% endfor %}
	{% endif %}
</p>
<form action="http://127.0.0.1:8006/user_action/{{ article.id }}/" method="post" accept-charset="utf-8">
 <input type="text" style="display:none;" class="form-control" name="parentcomment" value="{{comment.id}}"/>
 {% csrf_token %}
</form>
 {% endfor %}
{% endif %}

<form action="http://127.0.0.1:8006/user_action/{{ article.id }}/" method="post" accept-charset="utf-8">
	<textarea name="comment" class="form-control"></textarea>
	{% csrf_token %}	
	<input type="submit" value="submit" class="btn btn-primary" />
</form>


 -->






            	</div>
              </div>
            </div>

                <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>